.mform .submission_genaiuse.fcontainer {
    > .fitem {
        padding-top: 0;
        padding-bottom: 0;

        p {
            margin: 0.125em 0;
        }

        font-size: 90%;
        font-weight: 300;
        line-height: 1.4;
    }

    .genaiuse {
        >.fitem:hover {
            background-color: inherit;
        }
    }

    .genaiuse_declaration {
        border: 1px solid #0003;
        border-radius: 0.5em;
        padding: 0.25em 1em 0.5em 1em;
        /* stylelint-disable-next-line declaration-no-important */
        margin-top: 0.5em !important;
        /* stylelint-disable-next-line declaration-no-important */
        margin-left: 0.5rem !important; /* To match left padding of other form elements */

        .fitem:hover {
            background-color: transparent;
        }

        ::placeholder {
            font-size: 90%;
            font-weight: 300;
        }
    }

    .genaiuse_tooluse {
        border: 1px solid #0003;
        border-radius: 0.5em;
        padding: 0.25em 1em 0.5em 1em;
        /* stylelint-disable-next-line declaration-no-important */
        margin-top: 0.5em !important;
        /* stylelint-disable-next-line declaration-no-important */
        margin-left: 0.5rem !important; /* To match left padding of other form elements */

        &.fitem:hover {
            background-color: transparent;
        }

        >.fitem:hover {
            background-color: inherit;
        }
    }

    .genaiuse_evidence {
        border: 1px solid #0003;
        border-radius: 0.5em;
        padding: 0.25em 1em 0.5em 1em;
        /* stylelint-disable-next-line declaration-no-important */
        margin-top: 0.5em !important;
        /* stylelint-disable-next-line declaration-no-important */
        margin-left: 0.5rem !important; /* To match left padding of other form elements */

        &.fitem:hover {
            background-color: transparent;
        }
    }

    .genaiuse_onedrive {
        border: 1px solid #0003;
        border-radius: 0.5em;
        padding: 0.25em 1em 0.5em 1em;
        /* stylelint-disable-next-line declaration-no-important */
        margin-top: 0.5em !important;
        /* stylelint-disable-next-line declaration-no-important */
        margin-left: 0.5rem !important; /* To match left padding of other form elements */

        &.fitem:hover {
            background-color: transparent;
        }
    }
}

.alert.assignsubmission_genaiuse {
    a {
        font-weight: 400;
        text-decoration: underline;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

